.album {
    margin: 40px 0;

    .album-info {
        h2 {
            font-size: 1.6em;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }

    .album-tracks {
        margin: 15px;
    }
}
