.AlbumIndividual {
    .album-cover {
        width: 400px;
        height: 400px;
        background: #f5f5f5;
        @include user-select(none);
        @include transition(all, 280ms, ease);
        cursor: pointer;

        @media (max-width: 450px) {
            width: 80vw;
            height: 80vw;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .album-metadata {
        max-width: 800px;
        margin-top: 30px;
        margin-bottom: 40px;

        h2,
        p {
            color: #222;
            text-transform: capitalize;
            @include text-overflow-ellipsis();
        }

        h2 {
            font-size: 3rem;
        }

        p {
            color: #444;
            font-weight: bold;
            font-size: 1.8rem;
            margin-top: 8px;
        }
    }

    .album-links {
        @include user-select(none);
        @include flex();
        align-items: center;
        margin-bottom: 50px;

        .album-links-link {
            position: relative;
            @include grayscaleMixin(100%, 1);
            @include transition(all, 120ms, ease);
            margin-right: 30px;
            border-radius: 4px;

            &:hover,
            &:active {
                @include grayscaleMixin(0%, 0);

                & .album-links-link-background {
                    opacity: 0.6;
                }
            }

            .album-links-link-background {
                position: absolute;
                top: 0;
                left: -5%;
                opacity: 0;
                z-index: -1;
                width: 110%;
                height: 100%;
                border-radius: 4px;
                @include transition(all, 80ms, ease);
                background-color: rgba($color: #eee, $alpha: 0.4);
            }

            // &::before {
            //     content: "";
            //     position: absolute;
            //     top: -6px;
            //     left: -1px;
            //     width: 70px;
            //     height: 60px;
            //     z-index: -1;
            //     opacity: 0;
            //     border-radius: 4px;
            //     background-color: rgba($color: #eee, $alpha: 0.4);
            //     background-color: attr(data-color);
            //     // attr(data-content)
            //     @include transition(all, 80ms, ease);
            // }

            a {
                cursor: pointer;

                & > div {
                    padding: 15px 20px;
                }
            }

            svg {
                width: 28px;
                height: 28px;
                shape-rendering: geometricPrecision;
            }
        }
    }
}
