.album {
    margin: 40px 0;

    .album-info {
        h2 {
            font-size: 1.4em;
            font-weight: bold;
            letter-spacing: 0.5px;
        }
    }

    .album-tracks {
        margin: 15px;

        @media (max-width: 700px) {
            margin: 15px 0;
        }
    }
}
