.audio-control-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    // overflow: hidden;
    @include user-select(none);
    background: $background-shade-2;

    &.offset {
        bottom: 70px;
        z-index: 90;
        display: none;
    }

    .audio-control-bar-content {
        position: relative;
        display: grid;
        grid-gap: 10px;
        height: 100%;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        .col {
            @include flex();
            align-items: center;
            justify-content: center;
            height: 100%;

            &.volume {
                justify-content: flex-end;
            }
            &:first-of-type {
                justify-content: flex-start;
            }
        }
    }

    .audio-position-element,
    .audio-position-selection-hitbox {
        position: absolute;
        top: -2px;
        left: 0;
        height: 2px;
        background-color: $background-shade-80;
        @include transition(all, 80ms, ease);
        @include disable-touch-highlight();
    }

    .audio-position-selection-hitbox {
        cursor: pointer;
        top: -12px;
        height: 8px;
        width: 100%;
        z-index: 1000;
        background-color: transparent;
    }

    .track {
        cursor: pointer;

        .track-cover {
            margin-right: 20px;

            img {
                width: 50px;
                height: 50px;
            }
        }

        .track-metadata {
            padding-right: 20px;
            line-height: 22px;
            font-size: 1.5em;
            letter-spacing: 0.3px;
            @include text-overflow-ellipsis();

            .artist {
                opacity: 0.7;
                font-size: 90%;
                @include text-overflow-ellipsis();
            }
        }
    }

    .controls {
        .divider {
            height: 50%;
            width: 1px;
            margin: 0 10px;
            background-color: $background-shade-60;
        }

        .icon {
            padding: 12px;
            margin: 0 5px;
            cursor: pointer;
            border-radius: 100%;
            @include flex-center();
            @include disable-touch-highlight();

            svg {
                width: 22px;
                height: 22px;
            }

            &.active {
                background-color: $background-shade-20;
                svg {
                    path {
                        fill: #fff;
                    }
                }

                &.play-pause {
                    svg {
                        path {
                            fill: inherit;
                        }
                    }
                }
            }
        }
    }

    .volume {
        .volume-bar {
            @include flex();
            align-items: center;
            justify-content: center;
            height: 100%;

            .volume-icon {
                margin-right: 15px;

                &.is-faded {
                    opacity: 0.7;
                    svg path {
                        fill: darken($background-shade-80, 30%);
                    }
                }

                svg {
                    width: 22px;
                    height: 22px;

                    path {
                        fill: $forground-color;
                    }
                }
            }
        }
    }

    @media (max-width: 1250px) {
        .audio-control-bar-content {
            grid-template-columns: 48% 48%;
        }

        &.default .col.volume {
            display: none;
        }
    }
    @media (max-width: 750px) {
        .audio-control-bar-content {
            grid-template-columns: 100%;
        }

        &.offset {
            display: block;
        }

        &.default .col.track {
            display: none;
        }
    }
}
