.controls {
    @include flex();
    margin: 15px 0;

    .control-group {
        @include flex();
        padding-right: 10px;
        margin-right: 20px;
        border-right: 1px solid #eee;
    }

    .control-button {
        @include flex();
        @include user-select(none);
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        cursor: pointer;
        background-color: #f4f4f4;

        &:hover {
            background-color: darken(#f4f4f4, 8%);
        }

        &.selected {
            color: #fff;
            background-color: #333;

            & svg {
                & path {
                    fill: #fff;
                }
            }
        }

        & svg {
            width: 24px;
            height: 24px;

            & path {
                fill: #444;
            }
        }
    }
}
