.floating-album-cover {
    position: fixed;
    bottom: 110px;
    right: 40px;
    width: 200px;
    height: 200px;
    opacity: 1;
    z-index: 80;
    cursor: pointer;
    background-color: $background-shade-80;
    @include transition(-webkit-box-shadow, 280ms, ease);
    @include transition(-moz-box-shadow, 280ms, ease);
    @include transition(box-shadow, 280ms, ease);

    &.notrack {
        display: none;
    }

    &:hover {
        -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.28);
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.28);
    }

    @media (max-width: 1300px) {
        display: none;
    }
    @media (max-height: 750px) {
        // display: none;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .icon {
        position: absolute;
        bottom: 12px;
        right: 12px;
        z-index: 81;
        width: 40px;
        height: 40px;
        opacity: 0;
        @include flex();
        align-items: center;
        justify-content: center;
        background-color: $background-shade-5;
        border-radius: 20px;
        @include transition(all, 280ms, ease);

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &.isMobile .icon,
    &.isPaused .icon,
    &:hover .icon {
        opacity: 1;
    }
}
