.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    background: none;
    @include transition(all, 180ms, ease);

    &.--scroll {
        height: 60px;
        background: #fff;

        .navbar-logo {
            -webkit-transform: scale(0.8);
                    transform: scale(0.8);
        }

        .navbar-title {
            font-size: 1.9em;
        }
    }

    .navbar-content {
        @include container(1500px);
        @include flex();
        align-items: center;
        height: 100%;
    }

    .navbar-logo {
        margin-right: 120px;
        -webkit-transform: scale(1);
                transform: scale(1);
        @include transition(transform, 180ms, ease);

        svg {
            width: 50px;
            height: 50px;

            path {
                fill: #333333;
            }
        }
    }

    .navbar-title {
        font-size: 2.1em;
        letter-spacing: 0.5px;
        @include transition(all, 180ms, ease);
    }
}
