.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    overflow: hidden;
    border-bottom: 0px solid $background-shade-5;
    background-color: rgba($color: $background-color, $alpha: 1);
    will-change: height, border-bottom, background-color;
    @include transition(all, 180ms, ease);

    &.--scroll {
        height: 60px;
        border-bottom: 1px solid $background-shade-5;

        .navbar-logo {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
        }

        .navbar-title {
            font-size: 1.9em;
        }
    }

    .navbar-content {
        @include flex();
        align-items: center;
        height: 100%;
    }

    .navbar-var {
        width: 100%;
    }

    .navbar-logo {
        margin-right: 77px;
        -webkit-transform: scale(1);
        transform: scale(1);
        @include transition(transform, 180ms, ease);
        will-change: transform;

        @media (max-width: 800px) {
            margin-right: 45px;
        }
        @media (max-width: 700px) {
            margin-right: 30px;
        }
        @media (max-width: 500px) {
            margin-right: 30px;
        }
        @media (max-width: 380px) {
            margin-right: 20px;
        }
        @media (max-width: 340px) {
            margin-right: 10px;
        }
        @media (max-width: 325px) {
            margin-right: 5px;
        }

        svg {
            width: 45px;
            height: 45px;

            @media (max-width: 460px) {
                width: 40px;
                height: 40px;
            }

            path {
                fill: $forground-color;
            }
        }
    }
}

.navbar-secondary {
    @include flex();
    align-items: center;
    margin-bottom: 70px;

    h1.navbar-title {
        width: 150px;
        font-size: 2.2em;
        margin-right: 60px;
        letter-spacing: 0.3px;
        will-change: font-size;
        @include transition(all, 180ms, ease);

        @media (max-width: 700px) {
            margin-right: 20px;
        }
        @media (max-width: 600px) {
            font-size: 2em;
            margin-right: 0px;
        }
        @media (max-width: 580px) {
            width: 135px;
            font-size: 1.85em;
        }
        @media (max-width: 550px) {
            display: none;
        }
    }
}
