.navlinks {
    // margin-bottom: 50px;

    .navlinks-content {
        box-sizing: content-box;
        @include user-select(none);
        @include flex();
        flex-wrap: nowrap;

        .navlinks-link {
            color: $text-color; // rgba($color: $text-color, $alpha: 1);
            margin-right: 20px;

            @media (max-width: 800px) {
                margin-right: 0px;
            }

            &.active {
                span {
                    &::before {
                        opacity: 1;
                    }
                }
            }

            span {
                font-size: 1.7em;
                padding: 10px 30px;
                text-transform: capitalize;

                @media (max-width: 800px) {
                    font-size: 1.5em;
                }
                @media (max-width: 460px) {
                    font-size: 1.4em;
                    padding: 6px 25px;
                }
                @media (max-width: 400px) {
                    font-size: 1.2em;
                    padding: 6px 20px;
                }
                @media (max-width: 325px) {
                    padding: 6px 15px;
                }

                &::before {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    left: 7.5%;
                    top: -40%;
                    width: 85%;
                    height: 180%;
                    border-radius: 4px;
                    background-color: rgba(
                        $color: $background-shade-20,
                        $alpha: 0.7
                    );
                    @include transition(all, 80ms, ease);
                    opacity: 0;
                }

                &:hover::before {
                    opacity: 0.7;
                }
            }
        }
    }
}
