.navlinks {
    margin-bottom: 50px;

    .navlinks-content {
        @include user-select(none);
        @include flex();
        flex-wrap: nowrap;

        .navlinks-link {
            color: #444;
            margin-right: 20px;

            &.active {
                span {
                    color: #222;
                    font-weight: bold;

                    &::before {
                        opacity: 1;
                    }
                }
            }

            span {
                font-size: 1.7em;
                padding: 10px 30px;
                text-transform: capitalize;

                &::before {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    left: 7.5%;
                    top: -40%;
                    width: 85%;
                    height: 180%;
                    border-radius: 4px;
                    background-color: rgba($color: #fff, $alpha: 0.7);
                    @include transition(all, 80ms, ease);
                    opacity: 0;
                }

                &:hover::before {
                    opacity: 0.5;
                }
            }
        }

        @media (max-width: 700px) {
            justify-content: space-between;

            .navlinks-link {
                span {
                    font-size: 1.8em;
                    padding: 10px 20px;
                }
                &:first-of-type span {
                    padding-right: 20px;
                }
            }
        }
        @media (max-width: 500px) {
            .navlinks-link {
                margin-right: 0px;

                span {
                    font-size: 1.8em;
                    padding: 10px 10px;
                }
                &:first-of-type span {
                    padding-right: 10px;
                }
            }
        }
    }
}
