.slider {
    width: 150px;
    padding: 20px 0;
    @include disable-touch-highlight();

    .slider-container {
        position: relative;
        height: 3px;
        @include flex();
        align-items: center;
    }

    .slider-background,
    .slider-active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .slider-button {
        position: absolute;
        left: 0;
        width: 12px;
        height: 12px;
        z-index: 10;
        opacity: 0;
        border-radius: 100%;
        background-color: $background-shade-60;
    }

    .slider-background {
        background-color: $background-shade-10;
    }

    .slider-active {
        z-index: 5;
        background-color: $background-shade-80;
    }

    &.transition {
        .slider-button,
        .slider-active {
            @include transition(all, 100ms, ease);
        }
    }

    &.is-faded {
        .slider-button {
            background-color: darken($background-shade-60, 40%);
        }
        .slider-active {
            background-color: darken($background-shade-80, 40%);
        }
    }

    &:hover {
        .slider-button {
            opacity: 1;
        }
    }
}
