.tags {
    @include flex();
    flex-wrap: wrap;
    max-width: 788px;
    margin: 28px 0;

    .tag {
        color: $background-shade-80;
        font-size: 1.2rem;
        letter-spacing: 0.3px;
        background-color: $background-shade-10;
        text-transform: capitalize;
        @include user-select(none);
        cursor: pointer;
        margin: 4px;
        padding: 7px 18px;
        border-radius: 20px;
        @include flex();
        align-items: center;
        height: 28px;

        &.greyed-out {
            opacity: 0.3;
        }

        &.tag-reset {
            cursor: default;
            opacity: 0.3;
        }
        &.tag-reset.active {
            cursor: pointer;
            opacity: 1;
        }

        &:hover {
            background-color: $background-shade-40;

            &.greyed-out {
                opacity: 1;
            }

            &.tag-reset {
                background-color: $background-shade-10;
            }
            &.tag-reset.active {
                background-color: $background-shade-40;
            }
        }

        &.selected {
            color: $background-shade-2;
            background-color: $background-shade-80;
        }

        svg {
            width: 15px;
            height: 15px;
            margin-right: 4px;
            vertical-align: middle;

            path {
                fill: $background-shade-80;
            }
        }

        strong {
            margin: 0 4px;
        }
    }
}
