.track {
    @include user-select(none);
    padding: 5px 7px;

    &:nth-child(even) {
        background-color: #fcfcfc;
    }

    &:hover {
        background-color: #fafafa;
    }

    .track-info {
        @include flex();

        p {
            color: #222;
            font-size: 1.3em;
            width: 31.6%;
            margin-right: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            @media (max-width: 1200px) {
                width: 33%;
            }
            @media (max-width: 1000px) {
                width: 50%;
            }
            @media (max-width: 700px) {
                width: 100%;
            }
        }

        p.track-length {
            width: 5%;

            @media (max-width: 1200px) {
                display: none;
            }
        }

        p.track-album {
            @media (max-width: 1000px) {
                display: none;
            }
        }

        p.track-artist {
            @media (max-width: 700px) {
                display: none;
            }
        }
    }
}
