* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    // height: 1500px;
}

body,
html {
    font-family: "Tahoma", "Raleway", "Roboto", sans-serif;
    background-color: $background-color;
    color: $text-color;
}

strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    cursor: default;
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 3.4rem; // 3.5rem
    // letter-spacing: 1px;
}

p {
    font-size: 1.8rem;
    font-weight: normal;
}

svg {
    width: 24px;
    height: 24px;
}

section {
    margin-bottom: 70px;
}

.app-wrapper {
    @include container(1920px);
}

.container {
    @include container(1650px);
    padding: 0 20px;

    @media (max-width: 1800px) {
        @include container(1400px);
    }
    @media (max-width: 1600px) {
        @include container(1250px);
    }
    @media (max-width: 1400px) {
        @include container(1100px);
    }
    @media (max-width: 1200px) {
        @include container(1000px);
    }
    @media (max-width: 1100px) {
        @include container(900px);
        padding: 0 40px;
    }
    @media (max-width: 550px) {
        padding: 0 20px;
    }
}

.react-loading-skeleton {
    padding: 0 10px;
    margin: 5px 0;
    @include user-select(none);
    border-radius: 5px;
    border: none;
    background-color: $background-shade-5 !important;
    background-image: linear-gradient(
        90deg,
        lighten($background-shade-5, 1%),
        lighten($background-shade-5, 5%),
        lighten($background-shade-5, 1%)
    ) !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: $scrollbar-track;
}
::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
}
::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover;
}
