* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,
html {
    font-family: 'Tahoma', 'Raleway', 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    cursor: default;
    font-size: 2.5rem;
    font-weight: 700;
}

p {
    font-size: 1.8rem;
    font-weight: normal;
}


.container {
    @include transition(all, 280ms, ease);
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}


.app-wrapper {
    @include flex();
    justify-content: space-between;

    @media (max-width: 1300px) {
        width: 100%;
        padding: 0 100px;
    }
    @media (max-width: 1200px) {
        padding: 20px;
    }
}


.isLoading {
    @include transition(all, 280ms, ease);
    @include flex();
    justify-content: center;
    font-size: 1.4em;

    &.offset {
        margin-top: 125px;
    }

    svg {
        width: 125px;
        height: 125px;
    }
}
