
@mixin transition($which, $duration, $curve) {
    -webkit-transition: $which $duration $curve;
    -khtml-transition: $which $duration $curve;
    -moz-transition: $which $duration $curve;
    -ms-transition: $which $duration $curve;
    transition: $which $duration $curve;
}


@mixin container($size) {
    max-width: $size;
    margin-left: auto;
    margin-right: auto;
    @include transition(all, 80ms, ease);
}


@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


@mixin user-select($value) {
    -webkit-touch-callout: $value;
    -webkit-user-select: $value;
     -khtml-user-select: $value;
       -moz-user-select: $value;
        -ms-user-select: $value;
            user-select: $value;
}


@mixin text-overflow-ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
